#include "charybdis.dtsi"
#include "charybdis_3610.dtsi"
#include "split_input_common.dtsi"

&default_transform {
	col-offset = <6>;
};

&five_column_transform {
	col-offset = <5>;
};

&kscan0 {
  compatible = "zmk,kscan-gpio-matrix";
  
  col-gpios
    = <&xiao_d 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // 変更
    , <&xiao_d 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // 変更
    , <&xiao_d 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // 変更
    , <&xiao_d 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // 変更
    , <&xiao_d 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // 変更
    , <&xiao_d 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // 変更
    ;

  row-gpios
    = <&xiao_d 6 GPIO_ACTIVE_HIGH>  // 変更
    , <&gpio0 9 GPIO_ACTIVE_HIGH>  // 変更
    , <&gpio0 10 GPIO_ACTIVE_HIGH>  // 変更
    , <&gpio0 16 GPIO_ACTIVE_HIGH>  // 変更
    ;
};
&spi0 {
    status = "okay";
};
&trackball_split { 
	device = <&trackball>; 
	};
&trackball_split2 { 
	status = "disabled"; 
};
