#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include "combos.dtsi"

 /{
    chosen { zmk,matrix_transform = &four_row_five_col_transform; };
};

 /{
    keymap {
        compatible = "zmk,keymap";

        // Layer 0: 基本レイヤー（英語配列用）
        default_layer {
            bindings = <
  &kp Q            &kp W            &kp E            &kp R            &kp T            &kp Y            &kp U            &kp I            &kp O            &kp P
  &kp A            &kp S            &kp D            &kp F            &kp G            &kp H            &kp J            &kp K            &kp L            &mo 2
  &kp Z            &kp X            &kp C            &kp V            &kp B            &kp N            &kp M            &mkp LCLK        &mkp RCLK        &mo 1
  &none            &none            &none            &kp LSHIFT       &kp LCTRL        &kp SPACE        &kp ENTER        &none            &none            &none
            >;
        };

        // Layer 1: ショートカットレイヤー（英語配列用）
        layer_1 {
            bindings = <
  &kp ESC         &kp DEL          &kp N1           &kp N2           &kp N3         &kp LC(C)        &kp LC(V)         &kp UP           &kp LS(F2)       &kp LC(LS(F2))
  &kp TAB         &kp LS(TAB)      &kp N4           &kp N5           &kp N6         &kp LC(A)        &kp LEFT          &kp DOWN         &kp RIGHT        &mo 9
  &kp LGUI        &kp LALT         &kp N7           &kp N8           &kp N9         &kp LA(LEFT)     &kp LA(RIGHT)     &kp LC(X)        &kp BACKSPACE    &none
  &none           &none            &none            &kp N0           &kp COMMA      &kp PERIOD       &kp MINUS         &none            &none            &none
            >;
        };

        // Layer 2: 記号レイヤー（英語配列用）
        layer_2 {
            bindings = <
  &kp EXCL         &kp AT           &kp POUND        &kp DLLR         &kp PRCNT        &kp CARET        &kp AMPS         &kp ASTRK        &kp LPAR        &kp RPAR
  &kp COLON        &kp SEMI         &kp EQUAL        &kp DQT          &kp SQT          &kp GRAVE        &kp TILDE        &kp INT3         &none           &none
  &kp QMARK        &kp SLASH        &kp UNDER        &kp LBKT         &kp RBKT         &kp BSLH         &kp PIPE         &kp LT           &kp GT          &mo 9
  &none            &none            &none            &kp LBRC         &kp RBRC         &kp LG(LEFT)     &kp LG(RIGHT)    &none            &none           &none
            >;
        };

        // Layer 3: 基本レイヤー（MAC配列用）
        layer_3 {
            bindings = <
  &kp Q            &kp W            &kp E            &kp R            &kp T            &kp Y            &kp U            &kp I            &kp O            &kp P
  &kp A            &kp S            &kp D            &kp F            &kp G            &kp H            &kp J            &kp K            &kp L            &mo 5
  &kp Z            &kp X            &kp C            &kp V            &kp B            &kp N            &kp M            &mkp LCLK        &mkp RCLK        &mo 4
  &none            &none            &none            &kp LSHIFT       &kp LCTRL        &kp SPACE        &kp ENTER        &none            &none            &none
            >;
        };

        // Layer 4:ショートカットレイヤー（MAC配列用）
        layer_4 {
            bindings = <
  &kp ESC         &kp DEL          &kp N1           &kp N2           &kp N3         &kp LC(C)        &kp LC(V)         &kp UP           &kp LS(F2)       &kp LC(LS(F2))
  &kp TAB         &kp INS          &kp N4           &kp N5           &kp N6         &kp LC(A)        &kp LEFT          &kp DOWN         &kp RIGHT        &mo 9
  &kp LGUI        &kp LALT         &kp N7           &kp N8           &kp N9         &kp LA(LEFT)     &kp LA(RIGHT)     &kp LC(X)        &kp BACKSPACE    &none
  &none           &none            &none            &kp N0           &kp COMMA      &kp PERIOD       &kp MINUS         &none            &none            &none
            >;
        };

        // Layer 5: 記号レイヤー（MAC配列用）
        layer_5 {
            bindings = <
  &kp EXCL         &kp AT           &kp POUND        &kp DLLR         &kp PRCNT        &kp CARET        &kp AMPS         &kp ASTRK        &kp LPAR        &kp RPAR
  &kp COLON        &kp SEMI         &kp EQUAL        &kp DQT          &kp SQT          &kp GRAVE        &kp TILDE        &kp INT3         &none           &none
  &kp QMARK        &kp SLASH        &kp UNDER        &kp LBKT         &kp RBKT         &kp BSLH         &kp PIPE         &kp LT           &kp GT          &mo 9
  &none            &none            &none            &kp LBRC         &kp RBRC         &kp LG(LEFT)     &kp LG(RIGHT)    &none            &none           &none
            >;
        };

        // Layer 6: 基本レイヤー（日本語配列用）
        layer_6 {
            bindings = <
  &kp Q            &kp W            &kp E            &kp R            &kp T            &kp Y            &kp U            &kp I            &kp O            &kp P
  &kp A            &kp S            &kp D            &kp F            &kp G            &kp H            &kp J            &kp K            &kp L            &mo 8
  &kp Z            &kp X            &kp C            &kp V            &kp B            &kp N            &kp M            &mkp LCLK        &mkp RCLK        &mo 7
  &none            &none            &none            &kp LSHIFT       &kp LCTRL        &kp SPACE        &kp ENTER        &none            &none            &none
            >;
        };

        // Layer 7: ショートカットレイヤー（日本語配列用）
        layer_7 {
            bindings = <
  &kp ESC         &kp DEL          &kp N1           &kp N2           &kp N3         &kp LC(C)        &kp LC(V)         &kp UP           &kp LS(F2)       &kp LC(LS(F2))
  &kp TAB         &kp INS          &kp N4           &kp N5           &kp N6         &kp LC(A)        &kp LEFT          &kp DOWN         &kp RIGHT        &mo 9
  &kp LGUI        &kp LALT         &kp N7           &kp N8           &kp N9         &kp LA(LEFT)     &kp LA(RIGHT)     &kp LC(X)        &kp BACKSPACE    &none
  &none           &none            &none            &kp N0           &kp COMMA      &kp PERIOD       &kp MINUS         &none            &none            &none
            >;
        };

        // Layer 8: 記号レイヤー（日本語配列用）
        layer_8 {
            bindings = <
  &kp LS(N1)       &kp LBKT         &kp LS(N3)       &kp LS(N4)       &kp LS(N5)       &kp EQUAL        &kp LS(N6)       &kp LS(SQT)      &kp LS(N8)      &kp LS(N9)
  &kp SQT          &kp SEMI         &kp LS(MINUS)    &kp LS(N2)       &kp LS(N7)       &kp GRAVE        &kp LS(EQUAL)    &kp INT3         &none           &none
  &kp LS(SLASH)    &kp SLASH        &kp LS(INT1)     &kp RBKT         &kp NUHS         &kp INT1         &kp LS(INT3)     &kp LS(COMMA)    &kp LS(PERIOD)  &mo 9
  &none            &none            &none            &kp LS(RBKT)     &kp LS(NUHS)     &kp LG(LEFT)     &kp LG(RIGHT)    &none            &none           &none
            >;
        };

        // Layer 9: 数字専用キー
        layer_9 {
            bindings = <
  &kp F1    &kp F2   &kp F3   &kp F4    &kp F5          &kp N1    &kp N2    &kp N3    &none     &none
  &kp F6    &kp F7   &kp F8   &kp F9    &kp F10         &kp N4    &kp N5    &kp N6    &none     &none
  &none    &none     &none    &kp F11   &kp F12         &kp N7    &kp N8    &kp N9    &none     &none
  &none    &none     &none    &none     &none           &none     &kp N0    &none     &none     &none
            >;
        };

        // Layer 10: 基本レイヤー（マイクラ配列用）
        layer_10 {
            bindings = <
  &kp ESC      &kp Q       &kp W    &kp E        &kp F3       &kp Y      &kp U         &kp I       &kp O      &kp P
  &kp LCTRL    &kp A       &kp S    &kp D        &kp F5       &kp H      &kp J         &kp K       &kp L      &kp MINUS
  &kp LSHIFT   &kp ENTER   &kp C    &kp V        &kp SLASH    &kp N      &kp M         &mkp LCLK   &mkp RCLK  &mo 12
  &none        &none       &none    &kp ENTER    &kp SPACE    &mo 11     &kp ENTER     &none       &none      &none
            >;
        };
    };
};
