#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include "combos.dtsi"

/ {
    chosen { zmk,matrix_transform = &four_row_five_col_transform; };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
  &kp Q    &kp W      &kp E     &kp R    &kp T       &kp Y      &kp U     &kp I       &kp O     &kp P
  &kp A    &kp S      &kp D     &kp F    &kp G       &kp H      &kp J     &kp K       &kp L     &kp MINUS
  &kp Z    &kp X      &kp C     &kp V    &kp B       &kp N      &kp M     &mkp LCLK   &mkp RCLK &kp BACKSPACE
  &none    &kp LSHIFT &kp SPACE &mo 1    &kp LCTRL   &kp PERIOD &mo 2     &kp COMMA   &kp ENTER &none
            >;
        };

        default_layer1 {
            bindings = <
  &kp Q    &kp W      &kp E     &kp R    &kp T       &kp Y      &kp U     &kp I       &kp O     &kp P
  &kp A    &kp S      &kp D     &kp F    &kp G       &kp H      &kp J     &kp K       &kp L     &kp BACKSPACE
  &kp Z    &kp X      &kp C     &kp V    &kp B       &kp N      &kp M     &mkp LCLK   &mkp RCLK &kp MINUS
  &none    &kp LSHIFT &kp SPACE &mo 1    &kp LCTRL   &kp PERIOD &mo 2     &kp COMMA   &kp ENTER &none
            >;
        };

        default_layer2 {
            bindings = <
  &kp Q    &kp W      &kp E     &kp R    &kp T       &kp Y      &kp U     &kp I       &kp O     &kp P
  &kp A    &kp S      &kp D     &kp F    &kp G       &kp H      &kp J     &kp K       &kp L     &kp BACKSPACE
  &kp Z    &kp X      &kp C     &kp V    &kp B       &kp N      &kp M     &mkp LCLK   &mkp RCLK &kp MINUS
  &none    &kp LSHIFT &kp SPACE &mo 1    &kp LCTRL   &kp PERIOD &mo 2     &kp COMMA   &kp ENTER &none
            >;
        };
    };
};
